* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    min-width: 200px;
}

nav {
    border-bottom: 1px solid #333;
    display: table;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav img {
    height: 30px;
    position: relative;
    top: 7px;
    padding: 3px;
    padding-right: 10px;
}

nav h1 {
    display: table-cell;
    font-size: 30px;
    margin: 10px;
    text-align: left;
    font-weight: 300;
}

nav p {
    display: table-cell;
    text-align: right;
    position: relative;
}

/**/

#app { 
    text-align: center;
}

#app p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

#app input {
    display: inline-block;
    padding: 10px;
    width: 940px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    background-color: lavender;
    background-color: #ddf3fb;
    color: #333;
    transition: 0.3s ease;
}

#app input:focus {
    width: 100% !important;
}

#app ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

#app a {
    text-decoration: none;
    color: #333;
}

#app li {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    padding-bottom: 14px;
    height: 20px;
    
    border-radius: 2px;
    
    transition: 0.3s ease;
    
    margin-top: 5px;
}

#app li:nth-child(odd) {
    background-color: orange;
    background-color: #99d6eb;
}

#app li:nth-child(even) {
    background-color: darkorange;
    background-color: #c7e8f4;
}

#app li:hover {
    background-color: #d1fcd3;
/*    filter: brightness(1.1);*/
}

#app .save_btn {
    background-color: royalblue;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 20px 50px;
    margin-top: 20px;
    cursor: pointer;
}

#app .delete_btn {
    float: right;
    background-color: white;
    color: #333;
    border: none;
    position: relative;
    padding: 7px 10px;
    top: -3px;
    left: 4px;
    cursor: pointer;
}

#app .delete_btn:hover {
    background-color: crimson;
    color: white;
}

#app button {
    transition: 0.2s ease;
}

#app button:hover {
    filter: brightness(1.25);
}