<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save file</title>
    <link rel="stylesheet" href="/css/todo.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/"><h1><img src="/img/logo.png" alt="">Todo app →</h1></a>
        <p>v0.2 (6.09.2017)</p>
    </nav>
    <div id="app">
        <form action="app.php" method="post" id="saveForm">
            <input type="hidden" name="content" id="hidden_input">
        </form>

        <p>Search:</p>
        <input type="search" v-model="search" placeholder="Search...">
        <br>
        
        <p>New todo:</p>
        <input type="text" v-model="newTodoText" placeholder="Add todo..." v-on:keyup.enter="addTodo" id="addTodo">
        <br>
        <ul>
            <li 
                is="todo-item"
                v-for="(todo, index) in todos" 
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-if="todo.title.toLowerCase().indexOf(search.toLowerCase()) != -1"
                v-on:remove="todos.splice(index, 1)">
            </li>
        </ul>

<!--        <button onclick="saveList()" class="save_btn">SAVE</button>-->
    </div>
    
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/vue.js"></script>
    <script>

        Vue.component('todo-item', {
            template: '<li>{{ title }}\
                    <button class="delete_btn" v-on:click="$emit(\'remove\')">X</button></li>',
            props: ['title']
        })
        
        var app = new Vue({
            el: '#app',
            data: 
            {
                search: '',
                newTodoText: '',
                todos: '',
                nextTodoId: 0
            },
            methods: 
            {
                addTodo: function()
                {
                    this.todos.push(
                        {
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        })
                    this.newTodoText = '';
                    console.info('Item created');
                    saveList();
                }
            }
        })
        
        // Загрузка данных из файла и парсинг строки в объект
        $.ajax({
            url: '../data/people.txt',
            success: function(data){
                console.info('Todos data is loaded');
                app.todos = JSON.parse(data);
                app.todos = app.todos.sort();
                app.nextTodoId = app.todos.length+1;
                console.groupCollapsed('Todos data');
                console.log('app todos: '+ JSON.stringify( app.todos ) );
                console.groupEnd();
            }
        });
        
        // Обработчик клика для динамических объектов
        // Заменяет стандартный onClick селектора
        $(document).on('click', '.delete_btn', function(){
            console.info('Item deleted');
            saveList();
        });
        
        var saveList = () => { 
            var sendInfo = JSON.stringify( app.todos );
            console.log(sendInfo);
            $('#hidden_input').val(sendInfo);
//            $('#saveForm').submit();
            
            // Функция асинхронной отправки через AJAX заменяет обновление страницы
            jQuery.ajax({
                url:     '/app/saver.php',
                type:     "POST",
                dataType: "html",
                data: jQuery("#saveForm").serialize(),
                success: function(response) {
                    console.info('Successfully sended to server');
                },
                error: function(response) {
                    console.error("Error. Data has not send");
                }
            });
        }
        
    </script>
</body>
</html>